.contact-page {
    background: linear-gradient(135deg, #0a0f2c 0%, #1c274c 100%);
}
.half{
    width: 500px;
    max-width: 90vw;
}
.glass-card {
    z-index: 2;
    background: rgba( 18, 0, 255, 0.15 ) !important;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: white !important;
}
.contact-shadow{
    position: relative;
}
.contact-shadow::before{
    top: 50%;
    left: 50%;
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    box-shadow: 0px 0px 200px 100px var(--main);
}
.bg-logo{
    z-index: 1;
    position: absolute;
    opacity: 0.7;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
H2{
    z-index: 2;
    position: relative;
}