.glass-navbar {
    background: rgba(0, 0, 0, 0.6); /* czarne półprzezroczyste tło */
    backdrop-filter: blur(10px); /* efekt glassmorphism */
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }
.glass-navbar img{
    height: 40px;
}
.nav-link::after{
    content:"";
    width: 0%;
    height: 3px;
    background-color: var(--main);
    position: absolute;
    bottom: 5px;
    left: 0px;
    border-radius: 2px;
    transition: 0.5s;
    max-width: 100px;


}
.nav-link{
    position: relative;
    overflow: hidden;
}
.nav-link:hover::after{
    width: 100%;
    max-width: 110px !important;
    transition: 0.3s;
}
  